$purple: #44015B;
$purpleTransparent: rgba(68, 1, 91, 0.6);
$purpleSecondTransparent: rgba(68, 1, 91, 0.85);
$orange: #C0512C;
$orangeTransparent: rgba(192, 81, 44, 0.788);
$teal: #1B8081;
$lilac: #911854;
$grey: #C2C1C1;
$white: #FFFFFF;
$whiteBorderPillars: rgb(241, 241, 241);
$whiteTransparent: rgba(255,255,255,0.2);
$blackTransparent: rgba(0,0,0,0.1);

